/* 
 * Some Default Styles are provided for your convenience. 
 * You can start adding your own CSS below line 60.
 */

body {
  margin: 0;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  color: #252525;
  line-height: 1.75em;
}

h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
  font-weight: normal;
}

h1, h2, h3, nav {
  font-family: "Saira Extra Condensed", sans-serif;
}

/* Responsive images */
img {
  max-width: 100%;
  height: auto;
}

/* Default section styling */
section {
  position: relative;
  width: 100vw;
  overflow: hidden;
}
section h2 {
  text-align: center;
  position: relative;
  margin: 60px 0;
}
section h2:after {
  content: "";
  position: absolute;
  bottom: -20px;
  width: 60px;
  height: 1px;
  background-color: #f39c12;
  left: 50%;
  margin-left: -30px;
}

/* Header defaults */
header {
  background-color: rgba(37, 37, 37, 0.8);
}

/* 
 * YOUR CSS:
 */
header{
  display:flex;
  align-items: center;
  justify-content: space-between;
  position:fixed;
  z-index:10;
  width: 95%;
  margin-left:2.5%;
  margin-right:2.5%;
  border-radius:0 0 20px 20px;
  transform: translateY(-4.5em);
  transition: transform .5s ease;
}

.logo{
  padding:10px;
  height: 40px;
  width: 200px;
}
nav{
  display:flex;
}
.nav-item{
  padding:10px;
}
nav a{
  color:white;
  font-size:30px;
  text-decoration: none;
  transition: all .25s;
  border-radius:10%;
  padding:6px;
}
nav a:hover{
  background-color:white;
  color: #202b47;
}

 #about {
   display:flex;
   flex-direction: column;
}

#about div{
  padding:20px;
  display:flex;
}

#about p{
  flex:3;
}

#aboutmockup{
  flex:2;
}

#about #aboutmockup {
  padding: 0;
}

#staff{
  display: flex;
  flex-direction:column;
}

#staff div{
  display: flex;
  flex-wrap: wrap;
}

.staff-profile{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex-basis: calc(33% - 100px);
  align-items:top;
  padding:50px;
  text-align:center;
  transition: all .25s;
}
.staff-profile > h3 {
  font-size:1.5em;
  transition: color .25s;
}
.staff-profile:hover{
  background-color:#f39c12;
}
.staff-profile:hover > h3{
  color:white;
}

.staff-bio{
  font-style:italic;
}
.em{
  margin-left: calc(50% - 32.5px);
  height: 75px;
  width: 75px;
}

@media (max-width: 800px){
  .staff-profile{
    flex-basis: calc(50% - 100px);
  }
}

@media (max-width: 500px){
  .staff-profile{
    flex-basis: calc(100% - 100px);
  }
  header{
    flex-direction: column;
  }
  nav a{
    font-size:20px;
  }
  #about p{
    flex:1;
    margin-bottom: 0;
  }
  
  #aboutmockup{
    height: 0;
    flex:0;
  }
}
